.header {
  background-color: orangered;
  /* padding: 1px; */

}

a.brand-title:hover {
  color: #ff6600;
  text-decoration: none;
}

.brand-title {
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 48px; 
  color: rgb(255, 255, 255);
  padding-right: 20px;
}

.title {
  font-family: helvetica;
  font-size:18px;
  color:black;
  text-align: center;
  
} 

/* .navbar {
  font-family: helvetica;
  font-size:16px;
  color: black;
  list-style-type: none;
  text-align: center;
  padding-bottom: 1%;
  overflow: hidden;
  margin-top:1%;
  font-weight: bold;
  position: sticky;
} */


a:link {
  text-decoration: none;
}

a:hover { 
  color: orangered;
}

a {
  color: black;
  /* word-spacing: 25px; */
}


.headerfoto {
  margin-top:4%;
  width: 100%;
  height: auto;

}

@media only screen and (max-width: 700px) {
  .responsive {
      width: 49.99999%;
      margin: 6px 0;
  }
}