.header-detail {
  text-align: center;
  margin-top: 6%;
  font-weight: bold;
}

.header-detail:hover {
  text-decoration: none;
}

.text-history{
  margin-top: 6%;
  font-weight: bold;
  color: black;
  text-align: center;
}

.button2 {
  border-radius: 12px;
  background-color: white;
  border: solid yellowgreen;
  border-width: 2px;
  font-weight: bold;
  font-size: 13px;
}


.header-history {
  text-align: center;
  margin-top: 1%;
  font-weight: bold;
}

.header-home {
  text-align: center;
  margin-top: 4%;
  font-weight: bold;
}

nav {
  background-color: #00303F;
}

.date {
  font-style: oblique;
  text-align: center;
}

.recommended {
  text-align: center;
  font-size: 4%;
  margin-top: 8%;
  color:black;
}

a.brand-title:hover {
  text-decoration: none;
  color: rgb(153, 126, 39);
}

.image{
width: 90px;
}


.card-tutorial{
  background-color: rgba(168, 161, 161, 0.13);
  width: 100%;
  height:90%;
  display: block;
}

.text-tutorial {
  font-size: 20px;
  color:rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}


.line{
  background-color: grey;
  padding-bottom: 3px;
}

.brand-title {
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 48px; 
  color: #DCAE10;
  padding-right: 20px;
}

.footer{
  background-color: greenyellow;
  padding: 5px;
  margin-top: 2%;
  font-weight: bold;
  font-size:12px;
}

.title {
  font-family: helvetica;
  font-size:18px;
  color:black;
  text-align: center;
  
}

a:link {
  text-decoration: inherit;
  color:black;
}

a {
  color: black;
  /* word-spacing: 25px; */
  text-decoration: inherit;
}

.carousel-item {
  max-height: 400px;
  width: 100%;
}

.carousel-item img {
  
}

.animated-card {
  overflow: hidden;
  transition: max-height 1s ease-in-out;
  max-height: 600px;
}


.alert.liked {
  border-radius: 15px;
  background-color: yellowgreen;
  border: none;
}

.alert.disliked{
  border-radius: 15px;
  background-color: red;
  border: none;
}

@media only screen and (max-width: 700px) {
  .responsive {
      width: 49.99999%;
      margin: 6px 0;
  }


}