.header {
  background-color: orangered;
  /* padding: 1px; */

}

.header-detail {
  text-align: center;
  margin-top: 6%;
  font-weight: bold;
  color: #ff6600;
}

.header-detail:hover {
  color: #ff6600;
  text-decoration: none;
}

.date {
  margin-left: 1%;
  margin-top: 1%;
  font-style: oblique;
}





.recommended {
  text-align: center;
  font-size: 4%;
  margin-top: 8%;
  color: #ff6600;
}

a.brand-title:hover {
  color: #ff6600;
  text-decoration: none;
}

.brand-title {
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 48px; 
  color: rgb(255, 255, 255);
  padding-right: 20px;
}

.title {
  font-family: helvetica;
  font-size:18px;
  color:black;
  text-align: center;
  
}



/* .navbar {
  font-family: helvetica;
  font-size:16px;
  color: black;
  list-style-type: none;
  text-align: center;
  padding-bottom: 1%;
  overflow: hidden;
  margin-top:1%;
  font-weight: bold;
  position: sticky;
} */


a:link {
  text-decoration: none;
}

a:hover { 
  color: orangered;
}

a {
  color: black;
  /* word-spacing: 25px; */
}

.carousel-item {
  max-height: 400px;
  width: 100%;
}

.carousel-item img {
  
}

.animated-card {
  overflow: hidden;
  transition: max-height 1s ease-in-out;
  max-height: 600px;
}

@media only screen and (max-width: 700px) {
  .responsive {
      width: 49.99999%;
      margin: 6px 0;
  }


}